
   
   /*==========================================/
  /------------- GENERAL SET UP --------------/
 /==========================================*/


 * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgb(68, 67, 67)
}

h2,
h3 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 200%;
    line-height: 135%;

}

h3 {
    margin-bottom: 4%;
    font-weight: 300;
    color:rgb(54, 53, 53)
}

h6 {
    display: none;
}

hr {
    background-color: #4CAF50;
    display: block;
    border: none;
    height: 2px;
    width: 100px;
    margin: 0 auto 35px;
}
 


section > header {
    margin-bottom: 65px;
}



 /*========== REUSABLE COMPONENTS =========*/

.row {
    width: 90%;
    margin-left: 5%;
}

section {
    padding: 90px 0;
    line-height: 135%;
}

 /*------- BUTTONS -------*/


.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    margin-right: 20px;
    text-decoration: none;
    border-radius:200px;
    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    -ms-border-radius:200px;
    -o-border-radius:200px;
    border: 1px solid #4CAF50;
    transition: background-color 0.25s, border 0.25s, color 0.25s;
    -webkit-transition: background-color 0.25s, border 0.25s, color 0.25s;
    -moz-transition: background-color 0.25s, border 0.25s, color 0.25s;
    -ms-transition: background-color 0.25s, border 0.25s, color 0.25s;
    -o-transition: background-color 0.25s, border 0.25s, color 0.25s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #fff;
    border: 1px solid #4CAF50;
}

.btn:hover,
.btn:active {
    background-color:#1e441f;
    border: 1px solid #1e441f;
}



 /*------- PARAGRAPHS ------*/

 /*-------- ICONS -----------*/


 /*------ Clearfix to clear after float ----*/



   /*=======================================7==/
  /------------ SECTION: HEADER---------------/
 /==========================================*/

 .section-header {
     background-image:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("Balaton_Badacsony.jpg");
     background-image:  -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Balaton_Badacsony.jpg");
     background-image:  -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Balaton_Badacsony.jpg");
     background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Balaton_Badacsony.jpg");
     height: 100vh;
     padding: 35px 0;
     background-size: cover;
     background-repeat: none;
     color: #fff;
     position: relative;
     background-attachment: fixed;
 }

 /* Navigation */


 .logo {
     float: left;
     width: 150px;
 }

 .logo img {
     width: 100%;
     height: auto;
     border: 2px solid rgb(68, 67, 67);
     opacity: 0.5;
     border-radius: 12px;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
}



 .main-nav-links {
     float: right;
 }


 .nav-link {
    display: inline-block;
}

 .nav-link a {
     text-decoration: none;
     display: block;
     color: #fff;
     padding: 10px 0;
     margin-right: 26px;
     opacity: 0.6;
     transition: border-bottom 0.2s, opacity 0.2s ;
     -webkit-transition: border-bottom 0.2s, opacity 0.2s ;
     -moz-transition: border-bottom 0.2s, opacity 0.2s ;
     -ms-transition: border-bottom 0.2s, opacity 0.2s ;
     -o-transition: border-bottom 0.2s, opacity 0.2s ;
}

 .nav-link a:hover {
     border-bottom: 2px solid #4CAF50;
     opacity: 1;
 }

 .hero-text-box {
     width: 90%;
     position: absolute;
     top: 50%;
     left: 30%;
     transform: translate(-25%, -20%) ;
     -webkit-transform: translate(-25%, -10%) ;
     -moz-transform: translate(-25%, -20%) ;
     -ms-transform: translate(-25%, -20%) ;
     -o-transform: translate(-25%, -20%) ;
}

h1 {
    font-size: 250%;
    font-weight: 300;
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

.header-buttons {
    text-align: center;
    margin-top: 45px;
}

/* STICKY NAVIGATION */

.sticky-nav {
    background-color: #fff;
    color: rgb(61, 61, 61);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 2px 0 3px rgb(168, 168, 168);
}

.sticky-nav ul li a {
    color: rgb(61, 61, 61);
    font-weight: 400;
}

.sticky-logo {
    border: none;
    float: left;
    width: 150px;
}

.sticky-logo img {
    width: 100%;
    height: auto;
}

.sticky-nav ul li a {
    padding-bottom: 17px;
    vertical-align: middle;
    transition: border-bottom 0.25s, color 0.25s;
    -webkit-transition: border-bottom 0.25s, color 0.25s;
    -moz-transition: border-bottom 0.25s, color 0.25s;
    -ms-transition: border-bottom 0.25s, color 0.25s;
    -o-transition: border-bottom 0.25s, color 0.25s;
}

.sticky-nav ul li a:hover,
.sticky-nav ul li a:active {
    border-bottom: 3px solid #4CAF50;
    color: #000;
}


/*---- RESPONSIVE NAVIGATION ----*/

.collapsible-icon {
    position: absolute;
    right: 5%;
    top: 6%;
    font-size: 225%;
}

.sticky-nav .collapsible-icon {
    position: fixed;
    right: 5%;
    top: 1%;
}

.present {
    display: none;
}


   /*=========================================/
  /----------- SECTION: FEATURES ------------/
 /==========================================*/

 .section-features {
     font-size: 90%;
 }

 .features-box {
     margin-right: 8px;
     text-align: justify;
     padding: 0 1% 2%;
 }

 .feature-icon { margin-bottom: 18px;}


 .features-box ion-icon {
     font-size: 300%;
     display: block;
     margin-left: 10px;
     color: #4CAF50;
}

.section-features header p {
    width: 70%;
    margin-left: 15%;
    font-size: 115%;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 145%;
}



   /*==========================================/
  /------- SECTION: TOP DESTINATIONS ---------/
 /==========================================*/


.section-destinations-showcase {
    padding: 0;
}

.section-destinations-showcase .row {
    width: 100%;
    padding: 0;
    margin: 0;
}

.picture-box {
    background: #000;
    margin: 0;
    width: 25%;
    height: 200px;
    display: block;
    overflow: hidden;
}

.section-destinations-showcase img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.7;
    transform: scale(1.2)    ;
    -webkit-transform: scale(1.2)    ;
    -moz-transform: scale(1.2)    ;
    -ms-transform: scale(1.2)    ;
    -o-transform: scale(1.2)    ;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: transform 0.3s, opacity 0.3s;
    -moz-transition: transform 0.3s, opacity 0.3s;
    -ms-transition: transform 0.3s, opacity 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
}

.section-destinations-showcase img:hover {
    transform: scale(1.04);
    opacity: 1;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

   /*=========================================/
  /--------- SECTION: HOW IT WORKS ----------/
 /==========================================*/


.section-our-process {
    background-color: rgb(246, 246, 246);
}

 .process-logo {
     width: 70%;
     margin-left: 30%;
     border-radius: 10px ;
     -webkit-border-radius: 10px ;
     -moz-border-radius: 10px ;
     -ms-border-radius: 10px ;
     -o-border-radius: 10px ;
}

 .process-logo img {
     width: 100%;
     height:100%;
     color: #fff
 }

 

 .works-step {
    margin-bottom: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.step-number {
    width: 5%;
    padding-top: 8px;
    text-align: center;
    color:#4CAF50;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.step-text {
    width: 85%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


   /*=========================================/
  /------- SECTION: TOUR DESTINATIONS -------/
 /==========================================*/


 .headq-img {
     width: 100%;
     height: 200px;
 }

 .headq-img img {
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
        object-fit: cover;
 }

 .section-headquarters h3 {
     text-align: left;
     margin-top: 8px;
 }

 .headq-info {
     list-style-type: none;
     padding: 0 5px 20px 8px;
 }

 .headq-info li {
     margin-bottom: 5px;
 }

 .headq-info ion-icon {
     display: inline-block;
     color: #4CAF50;
     font-size: 125%;
     position: relative;
     top: 5px;
     margin-right: 8px;
 }

 .email-icon:link,
 .email-icon:visited {
     text-decoration: none;
     color: #4CAF50;
     transition: color 0.25s;
     font-size: 90%;
     -webkit-transition: color 0.25s;
     -moz-transition: color 0.25s;
     -ms-transition: color 0.25s;
     -o-transition: color 0.25s;
}

 .email-icon:hover,
 .email-icon:active {
     color: #1e441f;
 }


   /*=========================================/
  /--------- SECTION: TESTIMONIALS ----------/
 /==========================================*/



.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url('testimonials-background.jpg');
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('testimonials-background.jpg');
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('testimonials-background.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('testimonials-background.jpg');
    background-attachment: fixed;
    color: #fff;
}

blockquote {
    height: 160px;
    padding: 1.5%;
    text-align: justify;
    margin-bottom: 70px;
}

blockquote p::before {
    content: "“";
    font-size: 325%;
    position: relative;
    top: 20px;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    float: left;
}

.avatar > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.testimonial-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-top: 40px;
}

cite {
    padding: 20px 15px;
}

   /*=========================================/
  /----------- SECTION: SIGN UP -------------/
 /==========================================*/
 
.section-subscription-plans {
    background-color: rgb(246, 246, 246);
}

 .plan-box {
     -webkit-box-shadow: 0 2px 3px rgb(224, 223, 223);
             box-shadow: 0 2px 3px rgb(224, 223, 223);
     height: 425px;
     background-color: #fff;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}

.plan-box-header,
.plan-box-features {
    border-bottom: 1px solid rgb(235, 230, 230);
}

 .plan-box-header {
     background-color: rgb(252, 252, 252);
     padding: 5%;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}

 .plan-box-header h3 {
     margin-bottom: 35px;
 }

 .price {
     color: #4CAF50;
     margin-bottom: 8px;
 }

 .monthly-price {
     font-size: 225%;
     font-weight: 100;
 }

 .price-unity {
     font-weight: 400;
 }

 .subPrice {
     font-size: 80%;
 }

 .plan-box-features {
     list-style-type: none;
     padding: 3% 8% 6%;
 }

 .plan-box-features li {
     margin-top: 8px;
 }

 .plan-box-features ion-icon {
     font-size: 90%;
     margin-right: 12px;
 }

 .inclusive {
     color: #4CAF50
 }

 .not-inclusive {
     color: #ff0000;
 }

.subscription-btn-field {
    text-align: center;
    padding: 15px;
}

.subscription-btn-field .btn-ghost:link,
.subscription-btn-field .btn-ghost:visited {
    color: #4CAF50
}

.subscription-btn-field .btn-ghost:hover,
.subscription-btn-field .btn-ghost:active {
    color:  #fff;
}

.hide-subPriceField {
    visibility: hidden;
}



   /*==========================================/
  /----------- SECTION: CONTACT US -----------/
 /==========================================*/

 .contact-form {
     width: 60%;
     margin: auto;
 }

.form-field {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.textarea-field {
    height: 150px;
    width: 100%;
}

textarea {
    float:right;
    width: 60%;
    height: 100%;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

.main-form {
    width: 100%;
}

 input[type="text"],
 input[type="email"],
 select,
 .newsletter-check {
    width: 60%;
    height: 100%;
    float: right;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.newsletter-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

input[type="checkbox"] {
    margin: 8px 10px 0 5px;
}

.submit-btn-field {
    text-align: center;
    margin-top: 30px;
}

input[type="submit"] {
    padding: 10px 25px;
    text-align: center;
    border-radius: 120px;
    color: #fff;
    background-color: #1e441f;
    border: 1px solid #1e441f;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
}

input[type="submit"]:hover {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}



   /*=========================================/
  /------------ SECTION: FOOTER -------------/
 /==========================================*/

 #section-footer {
     background-color: #040904;
     padding: 60px 36px 30px;
 }

.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
}
 .nav-footer ul {
     list-style-type: none;
 }

 .nav-footer ul li {
     display: inline-block;
 }

 .footer-nav-link:link,
 .footer-nav-link:visited {
     text-decoration: none;
     margin-left: 10px;
     color: #4CAF50;
     transition: color 0.25s;
     -webkit-transition: color 0.25s;
     -moz-transition: color 0.25s;
     -ms-transition: color 0.25s;
     -o-transition: color 0.25s;
}

 .footer-nav-link:hover,
 .footer-nav-link:active {
     color: rgb(180, 180, 180);
 }

 .footer-social-media {
     list-style-type: none;
 }

 .footer-social-media li {
     display: inline-block;
 }

 .footer-social-link:link,
 .footer-social-link:visited {
    margin-left: 20px;
    font-size: 150%;
    text-decoration: none;
    color: #555;
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -o-transition: color 0.25s;
}

 #facebook-icon:hover,
 #facebook-icon:active {
     color: #3b5999;
 }

 #twitter-icon:hover,
 #twitter-icon:active {
     color: #55acee;
 }

 #googleplus-icon:hover,
 #googleplus-icon:active {
     color: #dd4b39;
 }

 #instagram-icon:hover,
 #instagram-icon:active {
     color: #e4405f;
 }

 #copyright {
     text-align: center;
     font-size: 70%;
     color: rgb(184, 183, 183);
 }


   /*=========================================/
  /--------------- ANIMATIONS ---------------/
 /=========================================*/

 .js--wp-1,
 .js--wp-2,
 .js--wp-3 {
     opacity: 0;
     -webkit-animation-duration: 1.2s;
     animation-duration: 1.2s;
 }

 .js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
 }

 .js--wp-1 .animated,
 .js--wp-2 .animated,
 .js--wp-3 .animated {
     opacity: 1;
 }


   /*==========================================/
  /-------------- MEDIA QUERIES --------------/
 /==========================================*/

@media only screen and (max-width: 1200px) {
    #logo { width: 135px; }
    .section-headquarters { font-size: 86%; }
}


@media only screen and (max-width: 1023px) {
    #logo {
        width: 125px;
        margin-left: 4%;
    }
    body, html { font-size: 18px; }
    .main-nav-links { margin-right: 4%; }
    .main-nav-links li a { margin-right: 15px; }
    .btn-app img { height: 45px; }

    .headq-info ion-icon {
        font-size: 100%;
        margin-right: 4px;
    }

    .section-headquarters { font-size: 83%; }
   
}

@media only screen and (max-width: 767px) {

    body, html { font-size: 17px; }
    #logo { width: 110px; }
    .main-nav-links { display: none;}
    h1 { font-size: 200% }
    h2 { font-size: 160%; font-weight: 400 }
    h3 { font-size: 140%}
    

    .section-features .span-1-of-4,
    .section-our-process .span-1-of-2,
    .section-headquarters .span-1-of-4,
    .section-testimonials .span-1-of-3,
    .section-subscription-plans .span-1-of-3 {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .section-features header p {
        width: 80%;
        margin-left: 10%;
        font-size: 100%;
        text-align: center;
    }

    .process-logo {
        width: 50%;
    }

    .section-our-process .span-1-of-2:first-child {
        margin: 0 0 40px 0;
    }

    .btn-app-container {
        text-align: center;
        margin-top: 35px
    }

    .section-headquarters .span-1-of-4,
    .section-subscription-plans .span-1-of-3 {
        width: 80%;
        margin-left: 10%;
    }

    .section-headquarters h3 { margin-top: 20px; }
    .testimonial-author { padding-top: 15px;}
    blockquote {
        height: auto;
        margin-bottom: 15px;
    }

    .form-field {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        margin-bottom: 20px;
    }

    .form-field input,
    .form-field select {
        width: 100%;
        height: 35px;
        margin-top: 5px;
    }

    textarea {
        height: 250px;
        width: 100%;
        margin-top: 5px;
    }

    .Newsletter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    input[type="checkbox"] {
        height: 15px;
        width: 15px;
        margin: 10px;
    }

    .newsletter-check p { padding-top: 5px; }

    #section-footer {
        font-size: 78%;
        padding: 40px 20px 30px;
    }
}

@media only screen and (max-width: 500px) {
    body, html { font-size: 16px }
    h1 {
        font-size: 180%;
        transform: translate(0%, -30%)    ;
        -webkit-transform: translate(0%, -30%)    ;
        -moz-transform: translate(0%, -30%)    ;
        -ms-transform: translate(0%, -30%)    ;
        -o-transform: translate(0%, -30%)    ;
}


    h2 { font-size: 140%; font-weight: 400 }
    h3 { font-size: 120%}

    .header-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: auto;
        width: 60%;
    }

    .header-btn {
        margin-top: 15px;
    }

    .picture-box {
        width: 50%;
        height: 200px;
        display: block;
        overflow: hidden;
    }

    .contact-form {
        width: 90%;
    }

    .section-subscription-plans .span-1-of-3 {
        width: 90%;
        margin-left: 5%;
    }

    .plan-box-mobile { 
        width: 100%;
        margin: 0;
    }

    .plan-box-mobile:first-child {
        border: 2px solid rgb(255, 145, 0);
    }

    .subscription-btn-field {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #section-footer {
        font-size: 70%;
        padding: 40px 10px 30px;
    }

}

